<!--index.vtl-->
<h1>Welcome to the Hackathon Team Tracker!</h1>

<ul>
  <li><a href="/teams/new">Add a new team</a></li>
  <li><a href="/teams">View all current teams</a></li>
</ul>
<!--index.vtl-->
