<h2>Add a new member</h2>

<form action="/members" method="post">
  <label for="name">Member name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success">Add this member</button>
</form>
